body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.header{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
.content{ 
    margin: 20px;
    text-align:center;
}

/* . = style a class , # = style an id, (h1,p, etc) = style element*/